
  .fixed.preloader_class {
      position: fixed;
  }

  .items-center.preloader_class {
      align-items: center;
  }

  .overflow-hidden {
      overflow: hidden;
  }

  .top-0.preloader_class {
      top: 0
  }
  
  .z-10.preloader_class {
      z-index: 10
  }
  
  .z-20.preloader_class {
      z-index: 20
  }

  .z-\[1000\].preloader_class {
      z-index: 1000
  }

  .z-\[200\].preloader_class {
      z-index: 200
  }
  
  .inline-block.preloader_class {
      display: inline-block
  }
  
  .flex.preloader_class {
      display: flex
  }

  .h-\[2px\].preloader_class {
      height: 2px
  }
  
  .h-fit.preloader_class {
      height: -moz-fit-content;
      height: fit-content
  }
  
  .h-full.preloader_class {
      height: 100%
  }
  
  .h-screen.preloader_class {
      height: 100vh
  }

  .w-\[300px\].preloader_class {
      width: 300px
  }

  .w-fit.preloader_class {
      width: -moz-fit-content;
      width: fit-content
  }
  
  .w-full.preloader_class {
      width: 100%
  }

  
  @keyframes logo-load {
      0% {
          transform: translateY(100%)
      }
  
      20% {
          transform: translateY(0)
      }
  
      80% {
          transform: translateY(0)
      }
  
      to {
          transform: translateY(-100%)
      }
  }
  
  .animate-logo-load.preloader_class {
      animation: logo-load 1.8s cubic-bezier(.2,0,.8,1) 1 forwards
  }
  
  @keyframes overlay-load {
      0% {
          height: 0%
      }
  
      to {
          height: 100%
      }
  }
  
  .animate-overlay-load.preloader_class {
      animation: overlay-load .8s cubic-bezier(.5,0,1,1) .6s 1 forwards
  }
  
  @keyframes page-load {
      0% {
          transform: translateY(0)
      }
  
      to {
          transform: translateY(-100%)
      }
  }
  
  .animate-page-load.preloader_class {
      animation: page-load .4s cubic-bezier(.2,0,.9,1) 1.6s 1 forwards
  }
  
  @keyframes pulse {
      50% {
          opacity: .5
      }
  }
  
  .animate-pulse.preloader_class {
      animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite
  }
  
  @keyframes spin {
      to {
          transform: rotate(360deg)
      }
  }
  
  .animate-spin.preloader_class {
      animation: spin 1s linear infinite
  }
  
  @keyframes ticker {
      0% {
          transform: translate(0)
      }
  
      to {
          transform: translate(-100%)
      }
  }
  
  .animate-ticker.preloader_class {
      animation: ticker 15s linear infinite
  }
  
  .justify-center.preloader_class {
      justify-content: center
  }

  .bg-black.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(0 0 0 / var(--tw-bg-opacity))
  }
  
  .bg-black\/30.preloader_class {
      background-color: #0000004d
  }
  
  .bg-neutral-100.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(245 245 245 / var(--tw-bg-opacity))
  }
  
  .bg-neutral-200.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(229 229 229 / var(--tw-bg-opacity))
  }
  
  .bg-neutral-300.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(212 212 212 / var(--tw-bg-opacity))
  }
  
  .bg-neutral-600.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(82 82 82 / var(--tw-bg-opacity))
  }
  
  .bg-neutral-800.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(38 38 38 / var(--tw-bg-opacity))
  }
  
  .bg-neutral-900.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(23 23 23 / var(--tw-bg-opacity))
  }
  
  .bg-transparent.preloader_class {
      background-color: transparent
  }
  
  .bg-white.preloader_class {
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity))
  }
  
  .bg-gradient-to-b.preloader_class {
      background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
  }
  
  .to-black.preloader_class {
      --tw-gradient-to: #000 var(--tw-gradient-to-position)
  }
  
  .opacity-0.preloader_class {
      opacity:0;
  }
  
  .mix-blend-difference.preloader_class {
      mix-blend-mode: difference
  }
  
  .transition-all.preloader_class {
      transition-property: all;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      transition-duration: .15s
  }
  .duration-200.preloader_class {
      transition-duration: .2s
  }
  
  .duration-300.preloader_class {
      transition-duration: .3s
  }
  
  .duration-500.preloader_class {
      transition-duration: .5s
  }
  
  .ease-in-out.preloader_class {
      transition-timing-function: cubic-bezier(.4,0,.2,1)
  }
  
  
  .prelaoder_content.preloader_class {
      z-index: 9999;
  }
  
  .prelaoder_black.preloader_class {
      z-index: 1111;
  }